#mainContent {
	font-size: large;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}
.buttonStyle {
	color: #663300;
	width: 100px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #663300;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #FCF9D6;
	color: #669900;
	cursor: pointer;
}
.yuhxd {
  background-color:#466995;
  width: 100%;
  z-index: 10;
}