#mainContent {
	font-size: large;
	font-weight: bold;
	background-color: #E5F0FA;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
.buttonStyle {
	padding: 5px;
	color: #663300;
	width: 100px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #663300;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #FCF9D6;
	color: #669900;
	cursor: pointer;
}